.cover__subtitle {
    margin: 16px 0 0;
    max-width: 360px;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    border: red 1px solid;
  }

  @media screen and (max-width: 400px) {
    .cover__subtitle {
      line-height: 16px;
      max-width: 300px;
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover__subtitle {
      max-width: 288px;
    }
  }