.place__card {
    grid-area: place__card;
    margin: 0;
    font-size: 18px;
    line-height: 163%;
    font-weight: 400;
}

@media screen and (max-width: 838px) {
    .place__card {
        font-size: 16px;
    }
}

@media screen and (max-width: 388px) {
    .place__card {
        max-width: 90%;
        margin: 0 auto;
    }
}