.header__link {
    margin-right: 18px;
    color: white;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    transition: opacity 0.5s ease;
    border: red 1px solid;
  }
  
  .header__link:last-child {
    margin-right: 0;
  }
  
  .header__link:hover {
    opacity: 0.5;
  }