.lead__title {
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
    font-size: 96px;
    line-height: 1.06;
    font-style: normal;
    font-weight: 900;
    border: red 1px solid;
  }