.place__paragraph {
    margin: 0;
    grid-area: place__paragraph;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    border: red 1px solid;
  }


@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin: 0 auto;
  }
}
