.footer {
  margin: 94px auto 24px auto;
  display: flex;
  justify-content: space-between;
  max-width: calc(1280px - 96px);
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 48px 24px 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0;
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 64px 16px 0 16px;
  }
}